<section>
    <div class="container mt-5">
        <form>
            <h1>Add Product</h1>
            <div class="form-group">
                <label>Name Of Product</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Catogary</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="file" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
</section>