   <section class="products pt-3">
        
        <div class="container">
            <div class="row">
                {{#each products}}
                <div class="col-md-3 col-6">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="/productimages/w500/{{this._id}}.png"alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{this.Name}}</h5>
                            <p class="card-text">{{this.Catogary}}</p>
                            <p class="card-text text-danger">Rs.{{this.Price}}</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        
    </section>
