<div class="container">

    <form class="col-md-8 m-auto" action="/signup" method="post">
        <div class="mt-5">
            
        <div class="form-group text-center"><h1>SIGNUP</h1></div>
        {{#if err}}
            <p class="text-danger">{{err}}</p>
            {{/if}}
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" name="Username" class="form-control"
                placeholder="Username">
            
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control"aria-describedby="emailHelp" name="Email"
                placeholder="Enter email">
            
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" placeholder="Password" name="Password">
        </div>

<!--    confirm password input

         <div class="form-group">
            <label for="exampleInputPassword1">Confirm password</label>
            <input type="password" class="form-control" placeholder="Confirm password" name="Confirmpassword">
        </div>    -->
        <a href="login">Already have an account ?</a>
        <div class="form-group text-center float-right">
            <button type="submit" class="btn btn-primary">Signup</button>
        </div>
        </div>
</form>

</div>